@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
body{
	margin: 0;
    padding: 0;
    background: linear-gradient(
        #243545,
        #243545 var(--line-offset),
        #dedede var(--line-offset)
    );
    width: 100vw;
    height: 100vh;
    font-family: 'Lexend Deca', sans-serif;


    --menu-item-size: 50px;
    --green-color: #329680;
    --blue-color: #099c29;
    --dark-green-color: #175b52;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --container-width: 700px;
    --container-height: 400px;
    --line-offset: calc((100% - var(--container-height))/ 2 + var(--menu-item-size) + 0.6em);
}

.numeric {
	color: #f46530;
	font-weight: bold;
}
:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

.annbtn {
	background-color: #fff;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bolder;
	color: #29335c;
}

.crsr {
	cursor: pointer;
}

.annbtn:hover {
	background-color: #29335c;
	color: #fff;
}

.card {
	background-color: #29335c;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 30px ;
	margin-left: 250px;
	margin-right: 250px;
	padding: 20px;
}
  
.card-content {
	display: block;
}

  .wttext {
	color: #fff;
  }
  
  .left-column {
	flex: 1;
	padding-right: 10px;
	color: #fff;
  }
  
  .right-column img {
	max-width: 100%;
	height: 250px;
	width: 250px;
	padding-left: 10px;
	display: flex;
	align-items: center;
  }

#wrapper
{
  width:50%;
  padding-left:0px;
  font-family:helvetica;
}

.btn {
background-color: #099c29;
color: #FFF;
width: 80px;
margin-left: 40%;
padding: 5px;
border-radius: 5px;
}

.bttn {
background-color: #099c29;
color: #FFF;
width: 30px;
margin-left: 40%;
padding: 5px;
border-radius: 30px;
}

.rmvbtn {
background-color: #e60c0c;
color: #FFF;
width: 30px;
margin-left: 40%;
padding: 5px;
border-radius: 30px;
}

.buttonss {
padding-left: 40px;
}

.point {
display: flex;
align-items: center;
padding-bottom: 10px;
}

.hidden {
	display: none;
}

.button-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	align-items: center;
}

.numeric {
	color: #f46530;
	font-weight: bold;
}

.chart {
	padding-left: 100px;
	padding-top: 20px;
}

#canvas {
	border: 1px solid black;
}
  
  

.refrs{
	color: #f46530;
}
.refr{
	font-weight: bold;
	font-size: xx-large;
}
.main-body{
	text-align: center;
	padding: 10px;
	
}
.main-body-first{
	padding: 10px;
	 font-weight: bolder;
	 font-size: 2em;
	 font-family: 'Times New Roman', Times, serif;
}
.main-body-second{
	padding-bottom: 10px;
	color: cornflowerblue;
	font-weight: bold;
	position: relative;

}

.nvsign {
	font-size: 18px;
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 10px;
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
}

input[type="submit"].nvsign {
	font-size: 18px;
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 10px;
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
  }  
  

.main-body-third-first{
	padding-bottom: 0%;
	margin-bottom: 0%;
}
.main-body-third-second{
	padding-top: 1%;
	margin-top: 0%;
	line-height: 0%;
	margin-top: 8px;
	font-size: 40px;
}


.second-part{
	margin-top: 150px;
	text-align: center;
	margin-left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.second-part-first-div{
	position: relative;
	float: left;
	width: 40%;
}
.second-part-first-p{
	text-align: center;
	color: darkgray;
	height: 200px;
	font-size: 20px;
	
}
.second-part-second{
	padding-left: 20px;
}
.second-part-first-p{
	margin-top: 25px;
	
} 



.third-part{
	margin-top: 50px;
	text-align: center;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.third-part-third{
	padding-right: 20px;
	padding-top: 80px;
}
.third-part-first-div{
	position: relative;
	float: right;
	width: 40%;
	padding-top: 170px;
}
.third-part-first-p{
	text-align: center;
	color: darkgray;
	height: 200px;
	font-size: 20px;
	padding-top: 20px;
}


.fourth-part{
	margin-top: 50px;
	text-align: center;
	margin-left: -110px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.fourth-part-fourth{
	padding-left: 20px;
}
.fourth-part-first-div{
	position: relative;
	float: left;
	width: 40%;
	padding-top: 200px;
}
.fourth-part-first-p{
	text-align: center;
	color: darkgray;
	height: 200px;
	font-size: 20px;
	padding-top: 20px;
}

.button-nav {
	padding-right: 40px;
}

.xxx::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 680px;
	width: 8%;
	height: 2px; 
	background-color: cornflowerblue;
}
.x1{
	padding: 15px;
	font-size: 40px;
}

a {
    color: inherit;
    text-decoration: none;
  }



.img1{
	height: 400px;
	width: 700px;
	margin-left: 50px;
	justify-content: center;
}
.img2{
	height: 400px;
	width: 700px;
	margin-left: 50px;
	justify-content: center;
}
.img3{
	margin-top: 100px;
	height: 350px;
	width: 400px;
	margin-left: 130px;
	justify-content: center;
}

.hover-para:hover {
	color: #000000 ;
}

.hover-text:hover {
	color: #f46530; /* Change the color to your desired value */
  }
  
.hover:hover{
	color: #5767aa;
}
.hover2:hover{
	color: #5767aa;
}
.hover3:hover{
	color: #5767aa;
}


:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}



header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav{
	width: 700px;
	padding-left: 150px;
}
nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.logocls{
	justify-content: left;
    width: 300px;
	height: 300px;
	padding-top: 0%;
	padding-bottom: 0%;
	margin-left: 0;
	margin-right: 0%;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
.ui{
	background-color: blue;
}

.avatar {
	vertical-align: auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

.ssnvsign {
	font-size: 18px;
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 10px;
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
	padding-top: 65px;
}

.footer-body {
  background: linear-gradient(to right, #00093c, #2d0b00);
  margin: 0;
  padding-top: 50;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  color: #fff;
  padding: 100px 0 30px;
  border-radius: 125px 125px 0 0; /* Rounded on top left and top right */
  font-size: 13px;
  line-height: 20px;
}
  
.row {
	width: 95%;
	padding-left: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.justifycontent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
}
  
  .col {
	flex-basis: 25%;
	padding: 10px;
  }
  
  .col:nth-child(2),
  .col:nth-child(3) {
	flex-basis: 15%;
  }
  

  
  .col h3 {
	width: fit-content;
	margin-bottom: 40px;
	position: relative;
  }

  .col h2 {
	margin-bottom: 10px;
  }
  
  .email-id {
	padding-top: 25px;
  }
  
  ul li {
	list-style: none;
	margin-bottom: 12px;
  }
  
  ul li a {
	text-decoration: none;
	color: #fff;
  }
  

html {
	overflow: scroll;
}
  
  .env {
	font-size: 18px;
	margin-right: 10px;
	border-radius: 50px;
	padding-left: 10px;
	padding-right: 10px;
  }
  
  
  .Fbutton {
	font-size: 16px;
	color: #ccc;
  }
  
  .social-icons {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	margin-right: 15px;
	cursor: pointer;
  }
  
  hr {
	width: 90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 20px auto;
  }

.copyright{
    text-align: center;
}
  
  .underline {
	width: 100%;
	height: 5px;
	background: #767676;
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 0;
	overflow: hidden;
  }
  
  .underline span {
	width: 15px;
	height: 100%;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation: moving 0.5s linear infinite;
  }
  
  @keyframes moving {
	0% {
	  left: -20px;
	}
	 100% {
	  left: 100%;
	}
  }
  
  @media (max-width: 700px) {
	.footer-body {
	  bottom: unset;
	}
  }


  ul {
    position: relative;
    display: flex;
  }
  
  li {
    list-style: none;
  }
  
  label {
    position: relative;
  }

  label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #29335c;
    font-weight: bold;
  }
  input::placeholder {
    color: gray;
    font-size: medium ;
  }

  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: medium;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  
  .divv {
    position: relative;
    height: 30px;
    width: 30px;
    background: #29335c;
    color: #fffdfd;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 5px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  /* div:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75px;
    height: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
  } */
  
  input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
  }
  
  @keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  .menu {
    padding-left: 0px;
  } 
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    border: 1px solid #ddd;
    background-color: #29335c;
    color: antiquewhite;
    padding: 8px;
  }
  
  thead:hover {
    background-color: #20294d;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
  }
  
  td:hover {
    color: black;
  }
  
  .col-first {
    width: 10%;
  }
  
  .col-mid {
    width: 70%;
  }
  
  
  .container {
    width: var(--container-width);
    height: var(--container-height);
    margin-left: -650px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
  }
  
  .main-menu {
    display: flex;
    list-style: none;
    margin: auto 0;
    padding: 0.6em 0 0 0;
  }
  
  .main-menu > li {
    box-sizing: border-box;
    height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));  
    line-height: var(--menu-item-size);
    padding: 0 2em;
    margin: 1px;
    transition: 0.5s linear all;
    background: var(--green-color);
    color: var(--dark-green-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
  }
  
  .main-menu > li:not(.with-submenu) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }
  
  .main-menu > li:nth-child(2) {
    transform: translateX(-5%);
  }
  
  .main-menu > li:nth-child(3) {
    transform: translateX(-10%)
  }
  
  .main-menu > li:nth-child(4) {
    transform: translateX(-15%)
  }
  .main-menu > li:nth-child(5) {
    transform: translateX(-20%)
  }
  .main-menu > li:nth-child(6) {
    transform: translateX(-25%)
  }
  
  
  .main-menu i {
    margin-right: 5px;
  }
  
  .main-menu > li:hover:not(.active) {
    background: linear-gradient(to right, var(--green-color), var(--blue-color));
    color: var(--white-color);
  }
  
  .main-menu > li:active:not(.active),
  .main-menu > li:active:not(.with-submenu){
    background: var(--blue-color);
    color: var(--white-color);
  }
  
  .main-menu > li:hover i:not(li.active) {
    color: #175c58;
  }
  
  .main-menu .active {
    color: var(--white-color);
    background: var(--blue-color);
    cursor: default;
    text-shadow: 1px 1px 1px var(--dark-green-color);
    font-size: 18px;
  }
  
  article {
   background: var(--gray-color);
   width: 1000px;
   padding: 1em; 
   border-radius: 0 0 5px 5px;
   box-shadow: 5px 5px 5px #CCC;
   position: relative;
   z-index: -1;
  }
  
  .warning {
	font-size: xx-large;
	padding-bottom: 50px;
	color: #ff0000;
  }
  
  
  .content {
    padding: 0 0 0 3em;
    font-size: 16px;
  }
  
  .submenu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
    box-shadow: 5px 5px 5px #CCC;
  }
  
  .with-submenu {
    position: relative;
    display: inline-block;
    clip-path: polygon(10% 0%, 0% 100%, 0% 500%, 95% 500%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }
  
  .with-submenu:hover .submenu {
    display: block;
  }
  
  .submenu > li {
    background: #dedede;
    border-bottom: 1px solid var(--gray-color); 
    color: #777;
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
  }
  
  .submenu > li:hover {
    background: var(--gray-color)
  }
  
  .submenu > li:active {
    background: var(--white-color);
  }
  
  